//@ Colors

//* Gray scale
$white:    #fff ;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

//* Random colors
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #ff0019;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$navyblue:#000080;

//* Blue Gradient 
$blue1:  #00005f;
$blue2:  #000069;
$blue3:  #000073;
$blue4:  #00007d;
$blue5:  #000087;
$blue6:  #000091;
$blue7:  #00009b;
$blue8:  #0000a5;
$blue9:  #0000af;
$blue10: #0000b9;
$blue11: #0000c3;
$blue12: #0000c8;
$blue13: #0a0ad7;
$blue14: #1414e1;
$blue15: #1e1eeb;
$blue16: #2828f5;
$blue17: #3232ff;
$blue18: #3c3cff;
$blue19: #4646ff;
$blue20: #5050ff;
$blue21: #5a5aff;
$blue22: #6464ff;

//* Cyan Gradient
$cyan:  #009191;
$cyan1: #009b9b;
$cyan2: #00a5a5;
$cyan3: #00afaf;
$cyan4: #00b9b9;
$cyan5: #00c3c3;
$cyan6: #00cdcd;
$cyan7: #00d7d7;
$cyan8: #00e1e1;
$cyan9: #00ebeb;
$cyan10:#00f5f5;
$cyan11:#00fafa;