@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,300&display=swap");
.text-transparent {
  color: transparent;
}

.text-black {
  color: rgb(0, 0, 0);
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-slate-50 {
  color: rgb(248, 250, 252);
}

.text-slate-100 {
  color: rgb(241, 245, 249);
}

.text-slate-200 {
  color: rgb(226, 232, 240);
}

.text-slate-300 {
  color: rgb(203, 213, 225);
}

.text-slate-400 {
  color: rgb(148, 163, 184);
}

.text-slate-500 {
  color: rgb(100, 116, 139);
}

.text-slate-600 {
  color: rgb(71, 85, 105);
}

.text-slate-700 {
  color: rgb(51, 65, 85);
}

.text-slate-800 {
  color: rgb(30, 41, 59);
}

.text-slate-900 {
  color: rgb(15, 23, 42);
}

.text-gray-50 {
  color: rgb(249, 250, 251);
}

.text-gray-100 {
  color: rgb(243, 244, 246);
}

.text-gray-200 {
  color: rgb(229, 231, 235);
}

.text-gray-300 {
  color: rgb(209, 213, 219);
}

.text-gray-400 {
  color: rgb(156, 163, 175);
}

.text-gray-500 {
  color: rgb(107, 114, 128);
}

.text-gray-600 {
  color: rgb(75, 85, 99);
}

.text-gray-700 {
  color: rgb(55, 65, 81);
}

.text-gray-800 {
  color: rgb(31, 41, 55);
}

.text-gray-900 {
  color: rgb(17, 24, 39);
}

.text-zinc-50 {
  color: rgb(250, 250, 250);
}

.text-zinc-100 {
  color: rgb(244, 244, 245);
}

.text-zinc-200 {
  color: rgb(228, 228, 231);
}

.text-zinc-300 {
  color: rgb(212, 212, 216);
}

.text-zinc-400 {
  color: rgb(161, 161, 170);
}

.text-zinc-500 {
  color: rgb(113, 113, 122);
}

.text-zinc-600 {
  color: rgb(82, 82, 91);
}

.text-zinc-700 {
  color: rgb(63, 63, 70);
}

.text-zinc-800 {
  color: rgb(39, 39, 42);
}

.text-zinc-900 {
  color: rgb(24, 24, 27);
}

.text-neutral-50 {
  color: rgb(250, 250, 250);
}

.text-neutral-100 {
  color: rgb(245, 245, 245);
}

.text-neutral-200 {
  color: rgb(229, 229, 229);
}

.text-neutral-300 {
  color: rgb(212, 212, 212);
}

.text-neutral-400 {
  color: rgb(163, 163, 163);
}

.text-neutral-500 {
  color: rgb(115, 115, 115);
}

.text-neutral-600 {
  color: rgb(82, 82, 82);
}

.text-neutral-700 {
  color: rgb(64, 64, 64);
}

.text-neutral-800 {
  color: rgb(38, 38, 38);
}

.text-neutral-900 {
  color: rgb(23, 23, 23);
}

.text-stone-50 {
  color: rgb(250, 250, 249);
}

.text-stone-100 {
  color: rgb(245, 245, 244);
}

.text-stone-200 {
  color: rgb(231, 229, 228);
}

.text-stone-300 {
  color: rgb(214, 211, 209);
}

.text-stone-400 {
  color: rgb(168, 162, 158);
}

.text-stone-500 {
  color: rgb(120, 113, 108);
}

.text-stone-600 {
  color: rgb(87, 83, 78);
}

.text-stone-700 {
  color: rgb(68, 64, 60);
}

.text-stone-800 {
  color: rgb(41, 37, 36);
}

.text-stone-900 {
  color: rgb(28, 25, 23);
}

.text-red-50 {
  color: rgb(254, 242, 242);
}

.text-red-100 {
  color: rgb(254, 226, 226);
}

.text-red-200 {
  color: rgb(254, 202, 202);
}

.text-red-300 {
  color: rgb(252, 165, 165);
}

.text-red-400 {
  color: rgb(248, 113, 113);
}

.text-red-500 {
  color: rgb(239, 68, 68);
}

.text-red-600 {
  color: rgb(220, 38, 38);
}

.text-red-700 {
  color: rgb(185, 28, 28);
}

.text-red-800 {
  color: rgb(153, 27, 27);
}

.text-red-900 {
  color: rgb(127, 29, 29);
}

.text-orange-50 {
  color: rgb(255, 247, 237);
}

.text-orange-100 {
  color: rgb(255, 237, 213);
}

.text-orange-200 {
  color: rgb(254, 215, 170);
}

.text-orange-300 {
  color: rgb(253, 186, 116);
}

.text-orange-400 {
  color: rgb(251, 146, 60);
}

.text-orange-500 {
  color: rgb(249, 115, 22);
}

.text-orange-600 {
  color: rgb(234, 88, 12);
}

.text-orange-700 {
  color: rgb(194, 65, 12);
}

.text-orange-800 {
  color: rgb(154, 52, 18);
}

.text-orange-900 {
  color: rgb(124, 45, 18);
}

.text-amber-50 {
  color: rgb(255, 251, 235);
}

.text-amber-100 {
  color: rgb(254, 243, 199);
}

.text-amber-200 {
  color: rgb(253, 230, 138);
}

.text-amber-300 {
  color: rgb(252, 211, 77);
}

.text-amber-400 {
  color: rgb(251, 191, 36);
}

.text-amber-500 {
  color: rgb(245, 158, 11);
}

.text-amber-600 {
  color: rgb(217, 119, 6);
}

.text-amber-700 {
  color: rgb(180, 83, 9);
}

.text-amber-800 {
  color: rgb(146, 64, 14);
}

.text-amber-900 {
  color: rgb(120, 53, 15);
}

.text-yellow-50 {
  color: rgb(254, 252, 232);
}

.text-yellow-100 {
  color: rgb(254, 249, 195);
}

.text-yellow-200 {
  color: rgb(254, 240, 138);
}

.text-yellow-300 {
  color: rgb(253, 224, 71);
}

.text-yellow-400 {
  color: rgb(250, 204, 21);
}

.text-yellow-500 {
  color: rgb(234, 179, 8);
}

.text-yellow-600 {
  color: rgb(202, 138, 4);
}

.text-yellow-700 {
  color: rgb(161, 98, 7);
}

.text-yellow-800 {
  color: rgb(133, 77, 14);
}

.text-yellow-900 {
  color: rgb(113, 63, 18);
}

.text-lime-50 {
  color: rgb(247, 254, 231);
}

.text-lime-100 {
  color: rgb(236, 252, 203);
}

.text-lime-200 {
  color: rgb(217, 249, 157);
}

.text-lime-300 {
  color: rgb(190, 242, 100);
}

.text-lime-400 {
  color: rgb(163, 230, 53);
}

.text-lime-500 {
  color: rgb(132, 204, 22);
}

.text-lime-600 {
  color: rgb(101, 163, 13);
}

.text-lime-700 {
  color: rgb(77, 124, 15);
}

.text-lime-800 {
  color: rgb(63, 98, 18);
}

.text-lime-900 {
  color: rgb(54, 83, 20);
}

.text-green-50 {
  color: rgb(240, 253, 244);
}

.text-green-100 {
  color: rgb(220, 252, 231);
}

.text-green-200 {
  color: rgb(187, 247, 208);
}

.text-green-300 {
  color: rgb(134, 239, 172);
}

.text-green-400 {
  color: rgb(74, 222, 128);
}

.text-green-500 {
  color: rgb(34, 197, 94);
}

.text-green-600 {
  color: rgb(22, 163, 74);
}

.text-green-700 {
  color: rgb(21, 128, 61);
}

.text-green-800 {
  color: rgb(22, 101, 52);
}

.text-green-900 {
  color: rgb(20, 83, 45);
}

.text-emerald-50 {
  color: rgb(236, 253, 245);
}

.text-emerald-100 {
  color: rgb(209, 250, 229);
}

.text-emerald-200 {
  color: rgb(167, 243, 208);
}

.text-emerald-300 {
  color: rgb(110, 231, 183);
}

.text-emerald-400 {
  color: rgb(52, 211, 153);
}

.text-emerald-500 {
  color: rgb(16, 185, 129);
}

.text-emerald-600 {
  color: rgb(5, 150, 105);
}

.text-emerald-700 {
  color: rgb(4, 120, 87);
}

.text-emerald-800 {
  color: rgb(6, 95, 70);
}

.text-emerald-900 {
  color: rgb(6, 78, 59);
}

.text-teal-50 {
  color: rgb(240, 253, 250);
}

.text-teal-100 {
  color: rgb(204, 251, 241);
}

.text-teal-200 {
  color: rgb(153, 246, 228);
}

.text-teal-300 {
  color: rgb(94, 234, 212);
}

.text-teal-400 {
  color: rgb(45, 212, 191);
}

.text-teal-500 {
  color: rgb(20, 184, 166);
}

.text-teal-600 {
  color: rgb(13, 148, 136);
}

.text-teal-700 {
  color: rgb(15, 118, 110);
}

.text-teal-800 {
  color: rgb(17, 94, 89);
}

.text-teal-900 {
  color: rgb(19, 78, 74);
}

.text-cyan-50 {
  color: rgb(236, 254, 255);
}

.text-cyan-100 {
  color: rgb(207, 250, 254);
}

.text-cyan-200 {
  color: rgb(165, 243, 252);
}

.text-cyan-300 {
  color: rgb(103, 232, 249);
}

.text-cyan-400 {
  color: rgb(34, 211, 238);
}

.text-cyan-500 {
  color: rgb(6, 182, 212);
}

.text-cyan-600 {
  color: rgb(8, 145, 178);
}

.text-cyan-700 {
  color: rgb(14, 116, 144);
}

.text-cyan-800 {
  color: rgb(21, 94, 117);
}

.text-cyan-900 {
  color: rgb(22, 78, 99);
}

.text-sky-50 {
  color: rgb(240, 249, 255);
}

.text-sky-100 {
  color: rgb(224, 242, 254);
}

.text-sky-200 {
  color: rgb(186, 230, 253);
}

.text-sky-300 {
  color: rgb(125, 211, 252);
}

.text-sky-400 {
  color: rgb(56, 189, 248);
}

.text-sky-500 {
  color: rgb(14, 165, 233);
}

.text-sky-600 {
  color: rgb(2, 132, 199);
}

.text-sky-700 {
  color: rgb(3, 105, 161);
}

.text-sky-800 {
  color: rgb(7, 89, 133);
}

.text-sky-900 {
  color: rgb(12, 74, 110);
}

.text-blue-50 {
  color: rgb(239, 246, 255);
}

.text-blue-100 {
  color: rgb(219, 234, 254);
}

.text-blue-200 {
  color: rgb(191, 219, 254);
}

.text-blue-300 {
  color: rgb(147, 197, 253);
}

.text-blue-400 {
  color: rgb(96, 165, 250);
}

.text-blue-500 {
  color: rgb(59, 130, 246);
}

.text-blue-600 {
  color: rgb(37, 99, 235);
}

.text-blue-700 {
  color: rgb(29, 78, 216);
}

.text-blue-800 {
  color: rgb(30, 64, 175);
}

.text-blue-900 {
  color: rgb(30, 58, 138);
}

.text-indigo-50 {
  color: rgb(238, 242, 255);
}

.text-indigo-100 {
  color: rgb(224, 231, 255);
}

.text-indigo-200 {
  color: rgb(199, 210, 254);
}

.text-indigo-300 {
  color: rgb(165, 180, 252);
}

.text-indigo-400 {
  color: rgb(129, 140, 248);
}

.text-indigo-500 {
  color: rgb(99, 102, 241);
}

.text-indigo-600 {
  color: rgb(79, 70, 229);
}

.text-indigo-700 {
  color: rgb(67, 56, 202);
}

.text-indigo-800 {
  color: rgb(55, 48, 163);
}

.text-indigo-900 {
  color: rgb(49, 46, 129);
}

.text-violet-50 {
  color: rgb(245, 243, 255);
}

.text-violet-100 {
  color: rgb(237, 233, 254);
}

.text-violet-200 {
  color: rgb(221, 214, 254);
}

.text-violet-300 {
  color: rgb(196, 181, 253);
}

.text-violet-400 {
  color: rgb(167, 139, 250);
}

.text-violet-500 {
  color: rgb(139, 92, 246);
}

.text-violet-600 {
  color: rgb(124, 58, 237);
}

.text-violet-700 {
  color: rgb(109, 40, 217);
}

.text-violet-800 {
  color: rgb(91, 33, 182);
}

.text-violet-900 {
  color: rgb(76, 29, 149);
}

.text-purple-50 {
  color: rgb(250, 245, 255);
}

.text-purple-100 {
  color: rgb(243, 232, 255);
}

.text-purple-200 {
  color: rgb(233, 213, 255);
}

.text-purple-300 {
  color: rgb(216, 180, 254);
}

.text-purple-400 {
  color: rgb(192, 132, 252);
}

.text-purple-500 {
  color: rgb(168, 85, 247);
}

.text-purple-600 {
  color: rgb(147, 51, 234);
}

.text-purple-700 {
  color: rgb(126, 34, 206);
}

.text-purple-800 {
  color: rgb(107, 33, 168);
}

.text-purple-900 {
  color: rgb(88, 28, 135);
}

.text-fuchsia-50 {
  color: rgb(253, 244, 255);
}

.text-fuchsia-100 {
  color: rgb(250, 232, 255);
}

.text-fuchsia-200 {
  color: rgb(245, 208, 254);
}

.text-fuchsia-300 {
  color: rgb(240, 171, 252);
}

.text-fuchsia-400 {
  color: rgb(232, 121, 249);
}

.text-fuchsia-500 {
  color: rgb(217, 70, 239);
}

.text-fuchsia-600 {
  color: rgb(192, 38, 211);
}

.text-fuchsia-700 {
  color: rgb(162, 28, 175);
}

.text-fuchsia-800 {
  color: rgb(134, 25, 143);
}

.text-fuchsia-900 {
  color: rgb(112, 26, 117);
}

.text-pink-50 {
  color: rgb(253, 242, 248);
}

.text-pink-100 {
  color: rgb(252, 231, 243);
}

.text-pink-200 {
  color: rgb(251, 207, 232);
}

.text-pink-300 {
  color: rgb(249, 168, 212);
}

.text-pink-400 {
  color: rgb(244, 114, 182);
}

.text-pink-500 {
  color: rgb(236, 72, 153);
}

.text-pink-600 {
  color: rgb(219, 39, 119);
}

.text-pink-700 {
  color: rgb(190, 24, 93);
}

.text-pink-800 {
  color: rgb(157, 23, 77);
}

.text-pink-900 {
  color: rgb(131, 24, 67);
}

.text-rose-50 {
  color: rgb(255, 241, 242);
}

.text-rose-100 {
  color: rgb(255, 228, 230);
}

.text-rose-200 {
  color: rgb(254, 205, 211);
}

.text-rose-300 {
  color: rgb(253, 164, 175);
}

.text-rose-400 {
  color: rgb(251, 113, 133);
}

.text-rose-500 {
  color: rgb(244, 63, 94);
}

.text-rose-600 {
  color: rgb(225, 29, 72);
}

.text-rose-700 {
  color: rgb(190, 18, 60);
}

.text-rose-800 {
  color: rgb(159, 18, 57);
}

.text-rose-900 {
  color: rgb(136, 19, 55);
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: rgb(0, 0, 0);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-slate-50 {
  background-color: rgb(248, 250, 252);
}

.bg-slate-100 {
  background-color: rgb(241, 245, 249);
}

.bg-slate-200 {
  background-color: rgb(226, 232, 240);
}

.bg-slate-300 {
  background-color: rgb(203, 213, 225);
}

.bg-slate-400 {
  background-color: rgb(148, 163, 184);
}

.bg-slate-500 {
  background-color: rgb(100, 116, 139);
}

.bg-slate-600 {
  background-color: rgb(71, 85, 105);
}

.bg-slate-700 {
  background-color: rgb(51, 65, 85);
}

.bg-slate-800 {
  background-color: rgb(30, 41, 59);
}

.bg-slate-900 {
  background-color: rgb(15, 23, 42);
}

.bg-gray-50 {
  background-color: rgb(249, 250, 251);
}

.bg-gray-100 {
  background-color: rgb(243, 244, 246);
}

.bg-gray-200 {
  background-color: rgb(229, 231, 235);
}

.bg-gray-300 {
  background-color: rgb(209, 213, 219);
}

.bg-gray-400 {
  background-color: rgb(156, 163, 175);
}

.bg-gray-500 {
  background-color: rgb(107, 114, 128);
}

.bg-gray-600 {
  background-color: rgb(75, 85, 99);
}

.bg-gray-700 {
  background-color: rgb(55, 65, 81);
}

.bg-gray-800 {
  background-color: rgb(31, 41, 55);
}

.bg-gray-900 {
  background-color: rgb(17, 24, 39);
}

.bg-zinc-50 {
  background-color: rgb(250, 250, 250);
}

.bg-zinc-100 {
  background-color: rgb(244, 244, 245);
}

.bg-zinc-200 {
  background-color: rgb(228, 228, 231);
}

.bg-zinc-300 {
  background-color: rgb(212, 212, 216);
}

.bg-zinc-400 {
  background-color: rgb(161, 161, 170);
}

.bg-zinc-500 {
  background-color: rgb(113, 113, 122);
}

.bg-zinc-600 {
  background-color: rgb(82, 82, 91);
}

.bg-zinc-700 {
  background-color: rgb(63, 63, 70);
}

.bg-zinc-800 {
  background-color: rgb(39, 39, 42);
}

.bg-zinc-900 {
  background-color: rgb(24, 24, 27);
}

.bg-neutral-50 {
  background-color: rgb(250, 250, 250);
}

.bg-neutral-100 {
  background-color: rgb(245, 245, 245);
}

.bg-neutral-200 {
  background-color: rgb(229, 229, 229);
}

.bg-neutral-300 {
  background-color: rgb(212, 212, 212);
}

.bg-neutral-400 {
  background-color: rgb(163, 163, 163);
}

.bg-neutral-500 {
  background-color: rgb(115, 115, 115);
}

.bg-neutral-600 {
  background-color: rgb(82, 82, 82);
}

.bg-neutral-700 {
  background-color: rgb(64, 64, 64);
}

.bg-neutral-800 {
  background-color: rgb(38, 38, 38);
}

.bg-neutral-900 {
  background-color: rgb(23, 23, 23);
}

.bg-stone-50 {
  background-color: rgb(250, 250, 249);
}

.bg-stone-100 {
  background-color: rgb(245, 245, 244);
}

.bg-stone-200 {
  background-color: rgb(231, 229, 228);
}

.bg-stone-300 {
  background-color: rgb(214, 211, 209);
}

.bg-stone-400 {
  background-color: rgb(168, 162, 158);
}

.bg-stone-500 {
  background-color: rgb(120, 113, 108);
}

.bg-stone-600 {
  background-color: rgb(87, 83, 78);
}

.bg-stone-700 {
  background-color: rgb(68, 64, 60);
}

.bg-stone-800 {
  background-color: rgb(41, 37, 36);
}

.bg-stone-900 {
  background-color: rgb(28, 25, 23);
}

.bg-red-50 {
  background-color: rgb(254, 242, 242);
}

.bg-red-100 {
  background-color: rgb(254, 226, 226);
}

.bg-red-200 {
  background-color: rgb(254, 202, 202);
}

.bg-red-300 {
  background-color: rgb(252, 165, 165);
}

.bg-red-400 {
  background-color: rgb(248, 113, 113);
}

.bg-red-500 {
  background-color: rgb(239, 68, 68);
}

.bg-red-600 {
  background-color: rgb(220, 38, 38);
}

.bg-red-700 {
  background-color: rgb(185, 28, 28);
}

.bg-red-800 {
  background-color: rgb(153, 27, 27);
}

.bg-red-900 {
  background-color: rgb(127, 29, 29);
}

.bg-orange-50 {
  background-color: rgb(255, 247, 237);
}

.bg-orange-100 {
  background-color: rgb(255, 237, 213);
}

.bg-orange-200 {
  background-color: rgb(254, 215, 170);
}

.bg-orange-300 {
  background-color: rgb(253, 186, 116);
}

.bg-orange-400 {
  background-color: rgb(251, 146, 60);
}

.bg-orange-500 {
  background-color: rgb(249, 115, 22);
}

.bg-orange-600 {
  background-color: rgb(234, 88, 12);
}

.bg-orange-700 {
  background-color: rgb(194, 65, 12);
}

.bg-orange-800 {
  background-color: rgb(154, 52, 18);
}

.bg-orange-900 {
  background-color: rgb(124, 45, 18);
}

.bg-amber-50 {
  background-color: rgb(255, 251, 235);
}

.bg-amber-100 {
  background-color: rgb(254, 243, 199);
}

.bg-amber-200 {
  background-color: rgb(253, 230, 138);
}

.bg-amber-300 {
  background-color: rgb(252, 211, 77);
}

.bg-amber-400 {
  background-color: rgb(251, 191, 36);
}

.bg-amber-500 {
  background-color: rgb(245, 158, 11);
}

.bg-amber-600 {
  background-color: rgb(217, 119, 6);
}

.bg-amber-700 {
  background-color: rgb(180, 83, 9);
}

.bg-amber-800 {
  background-color: rgb(146, 64, 14);
}

.bg-amber-900 {
  background-color: rgb(120, 53, 15);
}

.bg-yellow-50 {
  background-color: rgb(254, 252, 232);
}

.bg-yellow-100 {
  background-color: rgb(254, 249, 195);
}

.bg-yellow-200 {
  background-color: rgb(254, 240, 138);
}

.bg-yellow-300 {
  background-color: rgb(253, 224, 71);
}

.bg-yellow-400 {
  background-color: rgb(250, 204, 21);
}

.bg-yellow-500 {
  background-color: rgb(234, 179, 8);
}

.bg-yellow-600 {
  background-color: rgb(202, 138, 4);
}

.bg-yellow-700 {
  background-color: rgb(161, 98, 7);
}

.bg-yellow-800 {
  background-color: rgb(133, 77, 14);
}

.bg-yellow-900 {
  background-color: rgb(113, 63, 18);
}

.bg-lime-50 {
  background-color: rgb(247, 254, 231);
}

.bg-lime-100 {
  background-color: rgb(236, 252, 203);
}

.bg-lime-200 {
  background-color: rgb(217, 249, 157);
}

.bg-lime-300 {
  background-color: rgb(190, 242, 100);
}

.bg-lime-400 {
  background-color: rgb(163, 230, 53);
}

.bg-lime-500 {
  background-color: rgb(132, 204, 22);
}

.bg-lime-600 {
  background-color: rgb(101, 163, 13);
}

.bg-lime-700 {
  background-color: rgb(77, 124, 15);
}

.bg-lime-800 {
  background-color: rgb(63, 98, 18);
}

.bg-lime-900 {
  background-color: rgb(54, 83, 20);
}

.bg-green-50 {
  background-color: rgb(240, 253, 244);
}

.bg-green-100 {
  background-color: rgb(220, 252, 231);
}

.bg-green-200 {
  background-color: rgb(187, 247, 208);
}

.bg-green-300 {
  background-color: rgb(134, 239, 172);
}

.bg-green-400 {
  background-color: rgb(74, 222, 128);
}

.bg-green-500 {
  background-color: rgb(34, 197, 94);
}

.bg-green-600 {
  background-color: rgb(22, 163, 74);
}

.bg-green-700 {
  background-color: rgb(21, 128, 61);
}

.bg-green-800 {
  background-color: rgb(22, 101, 52);
}

.bg-green-900 {
  background-color: rgb(20, 83, 45);
}

.bg-emerald-50 {
  background-color: rgb(236, 253, 245);
}

.bg-emerald-100 {
  background-color: rgb(209, 250, 229);
}

.bg-emerald-200 {
  background-color: rgb(167, 243, 208);
}

.bg-emerald-300 {
  background-color: rgb(110, 231, 183);
}

.bg-emerald-400 {
  background-color: rgb(52, 211, 153);
}

.bg-emerald-500 {
  background-color: rgb(16, 185, 129);
}

.bg-emerald-600 {
  background-color: rgb(5, 150, 105);
}

.bg-emerald-700 {
  background-color: rgb(4, 120, 87);
}

.bg-emerald-800 {
  background-color: rgb(6, 95, 70);
}

.bg-emerald-900 {
  background-color: rgb(6, 78, 59);
}

.bg-teal-50 {
  background-color: rgb(240, 253, 250);
}

.bg-teal-100 {
  background-color: rgb(204, 251, 241);
}

.bg-teal-200 {
  background-color: rgb(153, 246, 228);
}

.bg-teal-300 {
  background-color: rgb(94, 234, 212);
}

.bg-teal-400 {
  background-color: rgb(45, 212, 191);
}

.bg-teal-500 {
  background-color: rgb(20, 184, 166);
}

.bg-teal-600 {
  background-color: rgb(13, 148, 136);
}

.bg-teal-700 {
  background-color: rgb(15, 118, 110);
}

.bg-teal-800 {
  background-color: rgb(17, 94, 89);
}

.bg-teal-900 {
  background-color: rgb(19, 78, 74);
}

.bg-cyan-50 {
  background-color: rgb(236, 254, 255);
}

.bg-cyan-100 {
  background-color: rgb(207, 250, 254);
}

.bg-cyan-200 {
  background-color: rgb(165, 243, 252);
}

.bg-cyan-300 {
  background-color: rgb(103, 232, 249);
}

.bg-cyan-400 {
  background-color: rgb(34, 211, 238);
}

.bg-cyan-500 {
  background-color: rgb(6, 182, 212);
}

.bg-cyan-600 {
  background-color: rgb(8, 145, 178);
}

.bg-cyan-700 {
  background-color: rgb(14, 116, 144);
}

.bg-cyan-800 {
  background-color: rgb(21, 94, 117);
}

.bg-cyan-900 {
  background-color: rgb(22, 78, 99);
}

.bg-sky-50 {
  background-color: rgb(240, 249, 255);
}

.bg-sky-100 {
  background-color: rgb(224, 242, 254);
}

.bg-sky-200 {
  background-color: rgb(186, 230, 253);
}

.bg-sky-300 {
  background-color: rgb(125, 211, 252);
}

.bg-sky-400 {
  background-color: rgb(56, 189, 248);
}

.bg-sky-500 {
  background-color: rgb(14, 165, 233);
}

.bg-sky-600 {
  background-color: rgb(2, 132, 199);
}

.bg-sky-700 {
  background-color: rgb(3, 105, 161);
}

.bg-sky-800 {
  background-color: rgb(7, 89, 133);
}

.bg-sky-900 {
  background-color: rgb(12, 74, 110);
}

.bg-blue-50 {
  background-color: rgb(239, 246, 255);
}

.bg-blue-100 {
  background-color: rgb(219, 234, 254);
}

.bg-blue-200 {
  background-color: rgb(191, 219, 254);
}

.bg-blue-300 {
  background-color: rgb(147, 197, 253);
}

.bg-blue-400 {
  background-color: rgb(96, 165, 250);
}

.bg-blue-500 {
  background-color: rgb(59, 130, 246);
}

.bg-blue-600 {
  background-color: rgb(37, 99, 235);
}

.bg-blue-700 {
  background-color: rgb(29, 78, 216);
}

.bg-blue-800 {
  background-color: rgb(30, 64, 175);
}

.bg-blue-900 {
  background-color: rgb(30, 58, 138);
}

.bg-indigo-50 {
  background-color: rgb(238, 242, 255);
}

.bg-indigo-100 {
  background-color: rgb(224, 231, 255);
}

.bg-indigo-200 {
  background-color: rgb(199, 210, 254);
}

.bg-indigo-300 {
  background-color: rgb(165, 180, 252);
}

.bg-indigo-400 {
  background-color: rgb(129, 140, 248);
}

.bg-indigo-500 {
  background-color: rgb(99, 102, 241);
}

.bg-indigo-600 {
  background-color: rgb(79, 70, 229);
}

.bg-indigo-700 {
  background-color: rgb(67, 56, 202);
}

.bg-indigo-800 {
  background-color: rgb(55, 48, 163);
}

.bg-indigo-900 {
  background-color: rgb(49, 46, 129);
}

.bg-violet-50 {
  background-color: rgb(245, 243, 255);
}

.bg-violet-100 {
  background-color: rgb(237, 233, 254);
}

.bg-violet-200 {
  background-color: rgb(221, 214, 254);
}

.bg-violet-300 {
  background-color: rgb(196, 181, 253);
}

.bg-violet-400 {
  background-color: rgb(167, 139, 250);
}

.bg-violet-500 {
  background-color: rgb(139, 92, 246);
}

.bg-violet-600 {
  background-color: rgb(124, 58, 237);
}

.bg-violet-700 {
  background-color: rgb(109, 40, 217);
}

.bg-violet-800 {
  background-color: rgb(91, 33, 182);
}

.bg-violet-900 {
  background-color: rgb(76, 29, 149);
}

.bg-purple-50 {
  background-color: rgb(250, 245, 255);
}

.bg-purple-100 {
  background-color: rgb(243, 232, 255);
}

.bg-purple-200 {
  background-color: rgb(233, 213, 255);
}

.bg-purple-300 {
  background-color: rgb(216, 180, 254);
}

.bg-purple-400 {
  background-color: rgb(192, 132, 252);
}

.bg-purple-500 {
  background-color: rgb(168, 85, 247);
}

.bg-purple-600 {
  background-color: rgb(147, 51, 234);
}

.bg-purple-700 {
  background-color: rgb(126, 34, 206);
}

.bg-purple-800 {
  background-color: rgb(107, 33, 168);
}

.bg-purple-900 {
  background-color: rgb(88, 28, 135);
}

.bg-fuchsia-50 {
  background-color: rgb(253, 244, 255);
}

.bg-fuchsia-100 {
  background-color: rgb(250, 232, 255);
}

.bg-fuchsia-200 {
  background-color: rgb(245, 208, 254);
}

.bg-fuchsia-300 {
  background-color: rgb(240, 171, 252);
}

.bg-fuchsia-400 {
  background-color: rgb(232, 121, 249);
}

.bg-fuchsia-500 {
  background-color: rgb(217, 70, 239);
}

.bg-fuchsia-600 {
  background-color: rgb(192, 38, 211);
}

.bg-fuchsia-700 {
  background-color: rgb(162, 28, 175);
}

.bg-fuchsia-800 {
  background-color: rgb(134, 25, 143);
}

.bg-fuchsia-900 {
  background-color: rgb(112, 26, 117);
}

.bg-pink-50 {
  background-color: rgb(253, 242, 248);
}

.bg-pink-100 {
  background-color: rgb(252, 231, 243);
}

.bg-pink-200 {
  background-color: rgb(251, 207, 232);
}

.bg-pink-300 {
  background-color: rgb(249, 168, 212);
}

.bg-pink-400 {
  background-color: rgb(244, 114, 182);
}

.bg-pink-500 {
  background-color: rgb(236, 72, 153);
}

.bg-pink-600 {
  background-color: rgb(219, 39, 119);
}

.bg-pink-700 {
  background-color: rgb(190, 24, 93);
}

.bg-pink-800 {
  background-color: rgb(157, 23, 77);
}

.bg-pink-900 {
  background-color: rgb(131, 24, 67);
}

.bg-rose-50 {
  background-color: rgb(255, 241, 242);
}

.bg-rose-100 {
  background-color: rgb(255, 228, 230);
}

.bg-rose-200 {
  background-color: rgb(254, 205, 211);
}

.bg-rose-300 {
  background-color: rgb(253, 164, 175);
}

.bg-rose-400 {
  background-color: rgb(251, 113, 133);
}

.bg-rose-500 {
  background-color: rgb(244, 63, 94);
}

.bg-rose-600 {
  background-color: rgb(225, 29, 72);
}

.bg-rose-700 {
  background-color: rgb(190, 18, 60);
}

.bg-rose-800 {
  background-color: rgb(159, 18, 57);
}

.bg-rose-900 {
  background-color: rgb(136, 19, 55);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
  background-color: #000;
  color: #000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
  background-color: #000;
  color: #000;
}

a {
  color: cyan;
  text-decoration: none;
}
a:hover {
  color: cyan;
  text-decoration: none;
}

button {
  background-color: #00005f;
  color: #fff;
  border: none;
}
button:hover {
  background-color: #0000af;
  color: #fff;
  border: none;
}
button:focus {
  background-color: blue10;
  color: #fff;
  border: 2px solid black;
}

input {
  background-color: #fff;
  color: #000;
  border: none;
}
input:focus {
  outline: none;
}

h1 {
  font-style: "Public Sans", sans-serif;
  color: #fff;
}

h2 {
  font-style: "Public Sans", sans-serif;
  color: #fff;
}

h3 {
  font-style: "Public Sans", sans-serif;
  color: #fff;
}

h4 {
  font-style: "Public Sans", sans-serif;
  color: #fff;
}

h5 {
  font-style: "Public Sans", sans-serif;
  color: #fff;
}

p {
  font-style: "Public Sans", sans-serif;
  color: #fff;
}

ul li {
  list-style: none;
  text-decoration-color: none;
}

@media (max-width: 41em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.flex {
  display: flex;
}

@media (max-width: 41em) {
  .m-flex {
    display: flex;
  }
}

@media (min-width: 64em) {
  .d-flex {
    display: flex;
  }
}

.f-1 {
  font-size: 1rem;
}
.f-1-5 {
  font-size: 1.5rem;
}
.f-2 {
  font-size: 2rem;
}
.f-2-5 {
  font-size: 2.5rem;
}
.f-3 {
  font-size: 3rem;
}
.f-3-5 {
  font-size: 3.5rem;
}
.f-4 {
  font-size: 4rem;
}
.f-4-5 {
  font-size: 4.5rem;
}
.f-5 {
  font-size: 5rem;
}
.f-5-5 {
  font-size: 5.5rem;
}

.main-container {
  padding-right: 4%;
  padding-left: 4%;
}

.fit {
  width: fit-content;
}

.max {
  width: max-content;
}

.w-1 {
  width: 10px;
}
.w-2 {
  width: 20px;
}
.w-3 {
  width: 30px;
}
.w-4 {
  width: 40px;
}
.w-5 {
  width: 50px;
}
.w-6 {
  width: 60px;
}
.w-7 {
  width: 70px;
}
.w-8 {
  width: 80px;
}
.w-9 {
  width: 90px;
}
.w-10 {
  width: 100px;
}
.w-10per {
  width: 10%;
}
.w-20per {
  width: 20%;
}
.w-30per {
  width: 30%;
}
.w-40per {
  width: 40%;
}
.w-50per {
  width: 50%;
}
.w-60per {
  width: 60%;
}
.w-70per {
  width: 70%;
}
.w-80per {
  width: 80%;
}
.w-90per {
  width: 90%;
}
.w-100per {
  width: 100%;
}

.h-1 {
  height: 10px;
}
.h-2 {
  height: 20px;
}
.h-3 {
  height: 30px;
}
.h-4 {
  height: 40px;
}
.h-5 {
  height: 50px;
}
.h-6 {
  height: 60px;
}
.h-7 {
  height: 70px;
}
.h-8 {
  height: 80px;
}
.h-9 {
  height: 90px;
}
.h-10 {
  height: 100px;
}
.h-10per {
  height: 1%;
}
.h-20per {
  height: 20%;
}
.h-30per {
  height: 30%;
}
.h-40per {
  height: 40%;
}
.h-50per {
  height: 50%;
}
.h-60per {
  height: 60%;
}
.h-70per {
  height: 70%;
}
.h-80per {
  height: 80%;
}
.h-90per {
  height: 90%;
}
.h-100per {
  height: 100%;
}

.max-w-1 {
  max-width: 100px;
}
.max-w-2 {
  max-width: 200px;
}
.max-w-3 {
  max-width: 300px;
}
.max-w-4 {
  max-width: 400px;
}
.max-w-5 {
  max-width: 500px;
}
.max-w-6 {
  max-width: 600px;
}
.max-w-7 {
  max-width: 700px;
}
.max-w-8 {
  max-width: 800px;
}
.max-w-9 {
  max-width: 900px;
}
.max-w-10 {
  max-width: 1000px;
}
.max-h-1 {
  max-height: 100px;
}
.max-h-2 {
  max-height: 200px;
}
.max-h-3 {
  max-height: 300px;
}
.max-h-4 {
  max-height: 400px;
}
.max-h-5 {
  max-height: 500px;
}
.max-h-6 {
  max-height: 600px;
}
.max-h-7 {
  max-height: 700px;
}
.max-h-8 {
  max-height: 800px;
}
.max-h-9 {
  max-height: 900px;
}
.max-h-10 {
  max-height: 1000px;
}

.min-w-1 {
  min-width: 100px;
}
.min-w-2 {
  min-width: 200px;
}
.min-w-3 {
  min-width: 300px;
}
.min-w-4 {
  min-width: 400px;
}
.min-w-5 {
  min-width: 500px;
}
.min-w-6 {
  min-width: 600px;
}
.min-w-7 {
  min-width: 700px;
}
.min-w-8 {
  min-width: 800px;
}
.min-w-9 {
  min-width: 900px;
}
.min-w-10 {
  min-width: 1000px;
}
.min-h-1 {
  min-height: 100px;
}
.min-h-2 {
  min-height: 200px;
}
.min-h-3 {
  min-height: 300px;
}
.min-h-4 {
  min-height: 400px;
}
.min-h-5 {
  min-height: 500px;
}
.min-h-6 {
  min-height: 600px;
}
.min-h-7 {
  min-height: 700px;
}
.min-h-8 {
  min-height: 800px;
}
.min-h-9 {
  min-height: 900px;
}
.min-h-10 {
  min-height: 1000px;
}

.br-1 {
  border-radius: 5px;
}
.br-2 {
  border-radius: 10px;
}
.br-3 {
  border-radius: 15px;
}
.br-4 {
  border-radius: 20px;
}
.br-5 {
  border-radius: 25px;
}
.br-6 {
  border-radius: 30px;
}
.br-7 {
  border-radius: 45px;
}
.br-8 {
  border-radius: 55px;
}
.br-9 {
  border-radius: 60px;
}
.br-10 {
  border-radius: 65px;
}
.br-10per {
  border-radius: 1%;
}
.br-20per {
  border-radius: 20%;
}
.br-30per {
  border-radius: 30%;
}
.br-40per {
  border-radius: 40%;
}
.br-50per {
  border-radius: 50%;
}
.br-60per {
  border-radius: 60%;
}
.br-70per {
  border-radius: 70%;
}
.br-80per {
  border-radius: 80%;
}
.br-90per {
  border-radius: 90%;
}
.br-100per {
  border-radius: 100%;
}

.box {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
}
.box-transparent {
  border: transparent;
}
.box1 {
  border: solid 1px;
}
.box2 {
  border: solid 2px;
}
.box3 {
  border: solid 3px;
}
.box4 {
  border: solid 4px;
}
.box5 {
  border: solid 5px;
}
.box6 {
  border: solid 6px;
}
.box7 {
  border: solid 7px;
}
.box8 {
  border: solid 8px;
}
.box9 {
  border: solid 9px;
}
.box10 {
  border: solid 10px;
}

.circle {
  border: solid black 1px;
  border-radius: 50%;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.p-1 {
  padding-right: 10px;
  padding-left: 10px;
}
.p-2 {
  padding-right: 20px;
  padding-left: 20px;
}
.p-3 {
  padding-right: 30px;
  padding-left: 30px;
}
.p-4 {
  padding-right: 40px;
  padding-left: 40px;
}
.p-5 {
  padding-right: 50px;
  padding-left: 50px;
}
.p-6 {
  padding-right: 60px;
  padding-left: 60px;
}
.p-7 {
  padding-right: 70px;
  padding-left: 70px;
}
.p-8 {
  padding-right: 80px;
  padding-left: 80px;
}
.p-9 {
  padding-right: 90px;
  padding-left: 90px;
}
.p-10 {
  padding-right: 100px;
  padding-left: 100px;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}
.pr-6 {
  padding-right: 60px;
}
.pr-7 {
  padding-right: 70px;
}
.pr-8 {
  padding-right: 80px;
}
.pr-9 {
  padding-right: 90px;
}
.pr-10 {
  padding-right: 100px;
}
.pr-10per {
  padding-right: 1%;
}
.pr-20per {
  padding-right: 20%;
}
.pr-30per {
  padding-right: 30%;
}
.pr-40per {
  padding-right: 40%;
}
.pr-50per {
  padding-right: 50%;
}
.pr-60per {
  padding-right: 60%;
}
.pr-70per {
  padding-right: 70%;
}
.pr-80per {
  padding-right: 80%;
}
.pr-90per {
  padding-right: 90%;
}
.pr-100per {
  padding-right: 100%;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}
.pl-6 {
  padding-left: 60px;
}
.pl-7 {
  padding-left: 70px;
}
.pl-8 {
  padding-left: 80px;
}
.pl-9 {
  padding-left: 90px;
}
.pl-10 {
  padding-left: 100px;
}
.pl-10per {
  padding-left: 1%;
}
.pl-20per {
  padding-left: 20%;
}
.pl-30per {
  padding-left: 30%;
}
.pl-40per {
  padding-left: 40%;
}
.pl-50per {
  padding-left: 50%;
}
.pl-60per {
  padding-left: 60%;
}
.pl-70per {
  padding-left: 70%;
}
.pl-80per {
  padding-left: 80%;
}
.pl-90per {
  padding-left: 90%;
}
.pl-100per {
  padding-left: 100%;
}
.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pt-5 {
  padding-top: 50px;
}
.pt-6 {
  padding-top: 60px;
}
.pt-7 {
  padding-top: 70px;
}
.pt-8 {
  padding-top: 80px;
}
.pt-9 {
  padding-top: 90px;
}
.pt-10 {
  padding-top: 100px;
}
.pt-10per {
  padding-top: 1%;
}
.pt-20per {
  padding-top: 20%;
}
.pt-30per {
  padding-top: 30%;
}
.pt-40per {
  padding-top: 40%;
}
.pt-50per {
  padding-top: 50%;
}
.pt-60per {
  padding-top: 60%;
}
.pt-70per {
  padding-top: 70%;
}
.pt-80per {
  padding-top: 80%;
}
.pt-90per {
  padding-top: 90%;
}
.pt-100per {
  padding-top: 100%;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}
.pb-6 {
  padding-bottom: 60px;
}
.pb-7 {
  padding-bottom: 70px;
}
.pb-8 {
  padding-bottom: 80px;
}
.pb-9 {
  padding-bottom: 90px;
}
.pb-10 {
  padding-bottom: 100px;
}
.pb-10per {
  padding-bottom: 1%;
}
.pb-20per {
  padding-bottom: 20%;
}
.pb-30per {
  padding-bottom: 30%;
}
.pb-40per {
  padding-bottom: 40%;
}
.pb-50per {
  padding-bottom: 50%;
}
.pb-60per {
  padding-bottom: 60%;
}
.pb-70per {
  padding-bottom: 70%;
}
.pb-80per {
  padding-bottom: 80%;
}
.pb-90per {
  padding-bottom: 90%;
}
.pb-100per {
  padding-bottom: 100%;
}

.left {
  text-align: left;
}
.left-1 {
  left: 10px;
}
.left-2 {
  left: 20px;
}
.left-3 {
  left: 30px;
}
.left-4 {
  left: 40px;
}
.left-5 {
  left: 50px;
}
.left-6 {
  left: 60px;
}
.left-7 {
  left: 70px;
}
.left-8 {
  left: 80px;
}
.left-9 {
  left: 90px;
}
.left-10 {
  left: 100px;
}

.right {
  text-align: right;
}
.right-1 {
  right: 10px;
}
.right-2 {
  right: 20px;
}
.right-3 {
  right: 30px;
}
.right-4 {
  right: 40px;
}
.right-5 {
  right: 50px;
}
.right-6 {
  right: 60px;
}
.right-7 {
  right: 70px;
}
.right-8 {
  right: 80px;
}
.right-9 {
  right: 90px;
}
.right-10 {
  right: 100px;
}

.top {
  top: 100%;
}
.top-1 {
  top: 10px;
}
.top-2 {
  top: 20px;
}
.top-3 {
  top: 30px;
}
.top-4 {
  top: 40px;
}
.top-5 {
  top: 50px;
}
.top-6 {
  top: 60px;
}
.top-7 {
  top: 70px;
}
.top-8 {
  top: 80px;
}
.top-9 {
  top: 90px;
}
.top-10 {
  top: 100px;
}

.bottom {
  bottom: 100%;
}
.bottom-1 {
  bottom: 10px;
}
.bottom-2 {
  bottom: 20px;
}
.bottom-3 {
  bottom: 30px;
}
.bottom-4 {
  bottom: 40px;
}
.bottom-5 {
  bottom: 50px;
}
.bottom-6 {
  bottom: 60px;
}
.bottom-7 {
  bottom: 70px;
}
.bottom-8 {
  bottom: 80px;
}
.bottom-9 {
  bottom: 90px;
}
.bottom-10 {
  bottom: 100px;
}

tr th {
  color: aqua;
}
tr td {
  color: white;
  text-align: center;
}
tr td .id {
  color: rgb(5, 21, 253);
}
tr td .padam {
  color: red;
}

.form-kemaskini {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(0, 255, 234);
}
.form-kemaskini a input {
  background-color: gray;
  color: black;
  border: 2px solid black;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */